<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="assets/css/date-picker-style.css">
  <title>Add New Fertilizer</title>

<% include ../partials/header %>
<% include ../partials/admin-sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Welcome!</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add New Fertilizer</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="post">
              <div class="box-body">
                <div class="form-group">
                  <label>Fertilizer Name</label>
                  <input type="text" class="form-control" id="hotel-title" placeholder="Fertilizer name" name="fert_name" required >
                </div>
                <div class="form-group">
                  <label>Fertilizer Price</label>
                  <input type="text" class="form-control" id="hotel-location" placeholder="price" name="price" required>
                </div>
                <div class="form-group">
                  <label>Fertilizer Stock</label>
                  <input type="text" class="form-control" id="hotel-location" placeholder="stock" name="stock" required>
                </div>

                <div class="form-group">
                  <label>Manufacturer Id</label>
                  <input type="text" class="form-control" id="hotel-location" placeholder="manufacturer id" name="man_id" required>
                </div>

                <div class="form-group" style="display: flex;flex-flow: row; justify-content: space-around;align-items: flex-start;">
                  <label for="manufacturingdate">Date MFG:
                  <input type="date" name="date_mfg" id="dateofbirth" >
                  </label>
                    <label for="Expirydate">Date Expiry:
                    <input type="date" name="date_expiry" id="dateofbirth">
                  </label>
                </div>


                <div class="form-group">
                  <label>Fertilizer Description</label>
                  <textarea class="form-control" rows="3" id="hotel-desc" placeholder="Fertilizer Description" name="med_desc" required></textarea>
                </div>  
                <div class="form-group">
                  <label>Fertilizer Category</label>
                  <select class="form-control" name="category" required>
                    <option value="">-SELECT-</option>
                      <option value="Organic">Organic</option>
                      <option value="Inorganic">Inorganic</option>
                      <option value="Pesticide">Pesticide</option>
                  </select>
                </div>
  
              <!-- <div class="form-group">
                  <label>Vendor Name</label>
                  <textarea class="form-control" rows="3" id="hotel-desc" placeholder="Vendor Name" name="vendor" required></textarea>
              </div>   -->
              <div class="form-group">
                <label>Fertilizer Type</label>
                <select class="form-control" name="fert_type" required>
                    <option value="">-SELECT-</option>
                    <option value="Solid">Solid</option>
                    <option value="Liquid">Liquid</option>
                </select>
              </div>

                <!-- <div class="form-group">
                  <label for="user-img">Upload Hotel Photo</label>
                  <input type="file" id="user-img" name="user_img" required>
                </div> -->
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <% if(message != ""){ %>
                  <div class="error">
                    <p><span id="error"><div class="alert alert-error"><%= message %></div></span></p>
                  </div>
                <% } %>    
                <button type="submit" class="btn btn-primary">ADD</button>
              </div>
            </form>
          </div>

    </section>
    <script>
      (function() {
	var module = angular.module("app", [
    "ngMaterial",
    "ngAnimate",
    "ngAria",
    "ngMessages",
    "mdPickers"
  ]); 
  
  module.controller("MainCtrl", ['$scope', '$mdpDatePicker', '$mdpTimePicker', function($scope, $mdpDatePicker, $mdpTimePicker){
    $scope.currentDate = new Date();
  	this.showDatePicker = function(ev) {
    	$mdpDatePicker($scope.currentDate, {
        targetEvent: ev
      }).then(function(selectedDate) {
        $scope.currentDate = selectedDate;
      });;
    };
    
    this.filterDate = function(date) {
      return moment(date).date() % 2 == 0;
    };
    
    this.showTimePicker = function(ev) {
    	$mdpTimePicker($scope.currentTime, {
        targetEvent: ev
      }).then(function(selectedDate) {
        $scope.currentTime = selectedDate;
      });;
    }  
  }]);
})();
    </script>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</body>
</html>