<div class="navbar">
	<nav>
		<div class="nav-wrapper blue">
			<img src="assets/Admin/dist/img/avatar5.png" class="user-image" alt="User Image" style="height: 80px;">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
			  <li><a>&nbsp; <%= username %></a></li>
			  <li><a class="btn" href="/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
  </div>