
<!DOCTYPE>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv = "refresh" content = "5; url = /userDashboard" />
        <link rel="stylesheet" type="text/css" href="assets/css/payment-successful-style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/dashboard-style.css">
        <title>Payment successful</title>
        
    </head>
<body>
        <!-- Header Start -->

        <div style="text-align: center;">
            <div class="payment-success">
                <div class="header">
                  <i class="ion-close-round close"></i>
                </div>
                <div class="body">
                  <h2 class="title">Payment Successful</h2>
                  <img class="main-img" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
                  <p>Your payment was successful! You can <br>
              now continue using Artycoin.</p>
                    <h3>You are being directed in 5 seconds...</h3>
                </div>
            </div>
        </div>
        

        <!-- Footer Start -->
        <div style="text-align: center;">
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                  SL1  mini-project (Group ID : 5)
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2020 <a href="#" style="color: blue;">e-Fertilizer Store</a>.</strong> All rights reserved.
            </footer>
        </div>

    </body>
</html>